@media all and (max-width: 480px) {
    .card-content img {

    }

    .card-content {
        padding: 10px;
        margin: 10px;
    }

    .card-content h2 {
        margin-top: 0;
    }

    .card-content p {
        margin-bottom: 0;
    }

    .card-content a {
        display: block;
        margin-top: 20px;
    }
}
@media screen and (min-width: 480px){
    .card-content img {

    }

    .card-content {
        padding: 10px;
        margin-left: 30px;
    }

    .card-content h2 {
        margin-top: 0;
    }

    .card-content p {
        margin-bottom: 0;
    }

    .card-content a {
        display: block;
        margin-top: 2px;
    }
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 2px;
    display: flex;
    margin: 20px;
}


.card img {
    width: 100px;
    margin-left: 10px;
}
.footer {
    height: 80px;
    background-color: rgb(1, 4, 9);
    color: #fff;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: rgb(246, 247, 248);
    min-height: 100%;
}


