.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    display: flex;
    margin: 20px;
}

html body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: rgb(246, 247, 248);
}

.header {
    height: 100px;
    background: #000;
    color: #fff;
}

.footer {
    height: 80px;
    background-color: rgb(1, 4, 9);
    color: #fff;
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.card-content {
    display: block;
    margin: 20px;
    padding: 20px;
}
.username{
    margin: 35px;
}
.entry_field{
    margin: 20px;
}